<h1>Tarefas</h1>
<p>Aplicação para gestão de tarefas pessoais</p>
<div class="mb-3">
    <a href="/tarefas" style="color:#3498db;">
        <i class="bi-list-check" style="font-size: 1.4rem; color:black;"></i>
        Lista de Tarefas
    </a>
</div>
<div class="mb-3">
    <a href="/usuario/perfil/<%- locals.layoutVariables.user.id_usuario %>" style="color: #3498db;">
        <i class="bi-person-lines-fill" style="font-size: 1.4rem; color:black;"></i>
        Perfil do Usuário
    </a>
</div>
