<h1>Tarefas</h1>
<p>Aplicação para gestão de tarefas pessoais</p>
<div class="mb-3">
    <a href="/tarefas" style="color: #48ff00;">
        <i class="bi-list-check" style="font-size: 1.4rem; color: #0f0;"></i>
        Lista de Tarefas
    </a>
</div>
<div class="mb-3">
    <a href="/usuario/perfil/<%- locals.layoutVariables.user.id_usuario %>" style="color: #48ff00;">
        <i class="bi-person-lines-fill" style="font-size: 1.4rem; color: #0f0;"></i>
        Perfil do Usuário
    </a>
</div>
<div class="mb-3">
    <a href="/listUsers" style="color: #48ff00;">
        <i class="bi-people" style="font-size: 1.4rem; color: #0f0;"></i>
        console.log("usuários");
    </a>
</div>