<form action="/login" method="POST"> 
		
	<div class="mb-3">
		<label for="e-mail" class="form-label">E-mail</label>
		<input type="text" name="email" class="form-control" style="background-color: rgb(41,15,131);border-color: #ffe600;color: #ffe600;"> 
	</div>
	<div class="mb-3">
		<label for="senha" class="form-label">senha</label>
		<input type="password" name="senha" class="form-control" style="background-color: rgb(41,15,131);border-color: #ffe600;color: #ffe600;"> 
	</div>
	<div class="mb-3">
		<button type="submit" style="background-color: #09031d;border-color: #ffe600; color: #ffe600;">Logar</button> 
	</div>
	