<div style="margin:o auto;">
	<form method="post" action="/usuario/salvar">
		<input type="hidden" name="idUsuario" value="<%- usuario.id_usuario %>" />
		<div class="mb-3">
			<label for="formControlInputNome" class="form-label">Nome</label>
			<input class="form-control" name="nome" value="<%- usuario.nome %>" type="text" placeholder="Nome" style="border-color: black;">
		</div>
			<div class="mb-3">
			<label for="formControlInputEmail" class="form-label">E-mail</label>
			<input type="email" class="form-control" name="email" value="<%- usuario.email %>" id="formControlInputEmail" placeholder="nome@exemplo.com" style="border-color:black;">
		</div>
		<div class="mb-3">
			<button type="submit" class="btn btn-primary mb-3">Salvar</button>
			<a class="btn btn-primary mb-3" href="/usuario/perfil/<%- usuario.id_usuario %>" role="button" >Voltar</a>
		</div>	
	</form>
</div>